.footer {
    background: var(--cognac-brown);
    color: var(--off-white);
    padding-top: 50px;
    margin-top: auto;
    
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.footer-title {
    font-size: 1.2rem;
    margin-bottom: 20px;
    position: fixed;
}